.result-container{
    padding: 20px;
}

.result-container.light{
    background-color: var(--bg-color-light);
}

.result-container.dark {
    background-color: var(--bg-color-dark);
}

.result{
    padding: 20px;
    margin: 20px;
}

.result.light{
    border: 1px solid var(--bg-color-dark);
}

.result.dark{
    border: 1px solid var(--bg-color-light);
}

.img{
    width: 300px;
    height: 300px;
}